<!DOCTYPE html>
<html>
  <head>
    <title>Redirecting to Payment…</title>
  </head>
  <body>
    <form id="rzp-form">
      <script
        src="https://checkout.razorpay.com/v1/payment-button.js"
        data-payment_button_id="pl_RutHOXnaBfaSL5"
        async
      ></script>
    </form>

    <script>
      const interval = setInterval(() => {
        const btn = document.querySelector("button.razorpay-payment-button");
        if (btn) {
          btn.click();
          clearInterval(interval);
        }
      }, 300);
    </script>
  </body>
</html>
